<a href="https://colab.research.google.com/github/RLZNMVN/MyApplication/blob/master/%5B%EC%98%A5%EC%9C%A0%EC%A7%84%5D%EA%B0%95%EB%8F%99_%EC%83%88%EC%8B%B9_3%EA%B8%B0)_%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EA%B8%B0%EB%B3%B8_%EB%AC%B8%EB%B2%95_%ED%85%8C%EC%8A%A4%ED%8A%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 강동 새싹 3기) 파이썬 기본 문법 테스트

해당 파일은 뷰어로 설정되어 있습니다.
파일을 사본으로 복사 후 제목 앞에 이름을 추가해주세요.
ex) [김민주] 강동 새싹 3기) 파이썬 기본 문법 테스트

문제를 푸신 후 파일 -> 다운로드 -> .ipynb 다운로드 후
파일을 받아 클래스룸에 과제 제출로 업로드해주세요.

꼭 공유 링크가 아닌 파일 형태로 제출해 주셔야 합니다~



---

### 1번 문제 : 별 찍기

- n개의 줄로 구성된 직각삼각형 모양의 별을 출력합니다. n이 5인 경우 출력은 다음과 같습니다.




```
*
**
***
****
*****

```



- n개의 줄로 구성된 피라미드 모양의 별을 출력합니다. n이 5인 경우 출력은 다음과 같습니다.




```
    *
   ***
  *****
 *******
*********

```


- n개의 줄로 구성된 내부가 비어있는 피라미드 모양의 별을 출력합니다. n이 5인 경우 출력은 다음과 같습니다.




```
    *
   * *
  *   *
 *     *
*********

```

In [ ]:
def print_triangle(n):
    for i in range(1, n + 1):
        print('*' * i)

print_triangle(5)

*
**
***
****
*****

In [ ]:
def print_pyramid(n):
    for i in range(1, n + 1):
        spaces = ' ' * (n - i)
        stars = '*' * (2 * i - 1)
        print(spaces + stars)

print_pyramid(5)

    *
   ***
  *****
 *******
*********

In [ ]:
# 챗GPT의 도움을 조금 받았습니다...

def print_hollow_pyramid(n):
    for i in range(1, n + 1):
        if i == n:
            print('*' * (2 * n - 1))
        else:
            # 공백과 별 계산
            spaces = ' ' * (n - i)
            if i == 1:
                stars = '*'
            else:
                stars = '*' + ' ' * (2 * i - 3) + '*'
            print(spaces + stars)

print_hollow_pyramid(5)

    *
   * *
  *   *
 *     *
*********

### 2번 문제 : 사각형 채우기

- n x n 크기의 사각형에 숫자를 순차적으로 채웁니다. n이 5인 경우 출력은 다음과 같습니다



```
 1  2  3  4  5
 6  7  8  9 10
11 12 13 14 15
16 17 18 19 20
21 22 23 24 25

```

- n x n 크기의 사각형에 숫자를 위에서 아래로, 그리고 아래에서 위로 번갈아가면서 채웁니다. n이 5인 경우 출력은 다음과 같습니다.



```
 1 10 11 20 21
 2  9 12 19 22
 3  8 13 18 23
 4  7 14 17 24
 5  6 15 16 25

```

In [ ]:
def print_square(n):
    num = 1
    for i in range(n):
        for j in range(n):
            print(f"{num:2d}", end=" ")
            num += 1
        print()
print_square(5)

 1  2  3  4  5
 6  7  8  9 10
11 12 13 14 15
16 17 18 19 20
21 22 23 24 25

In [ ]:
def print_alternating_square(n):
    matrix = [[0] * n for _ in range(n)]
    num = 1

    for col in range(n):
        if col % 2 == 0:
            for row in range(n):
                matrix[row][col] = num
                num += 1
        else:
            for row in range(n - 1, -1, -1):
                matrix[row][col] = num
                num += 1

    for row in matrix:
        for val in row:
            print(f"{val:2d}", end=" ")
        print()

print_alternating_square(5)

 1 10 11 20 21
 2  9 12 19 22
 3  8 13 18 23
 4  7 14 17 24
 5  6 15 16 25

### 3번 문제 : 회문 검사

- 문자열이 있을 때 대소문자 상관 없이 그 문자열이 회문인지 여부를 판단하세요.

In [ ]:
def is_palindrome(s):
    s = ''.join(e for e in s if e.isalnum()).lower()
    return s == s[::-1]

print(is_palindrome("weiiew"))                        # True
print(is_palindrome("yujin"))                          # False

True
False

### 4번 문제 : 리스트 내 중복 제거

- 리스트 내부에 있는 중복 요소를 제거하세요. 첫 번째 방법은 set을 사용하고, 두 번째 방법은 for문을 사용하여 직접 제거합니다.

In [ ]:
def remove_duplicates_with_set(lst):
    return list(set(lst))

lst = [1, 2, 2, 3, 4, 4, 5]
print(remove_duplicates_with_set(lst))  # [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [ ]:
def remove_duplicates_with_loop(lst):
    unique_lst = []
    for item in lst:
        if item not in unique_lst:
            unique_lst.append(item)
    return unique_lst

lst = [1, 2, 2, 3, 4, 4, 5]
print(remove_duplicates_with_loop(lst))  # [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

### 5번 문제 : 리스트 뒤집기

- 주어진 리스트를 두 가지 방법으로 뒤집으세요. 첫 번째 방법은 리스트의 내장 메소드를 사용하고, 두 번째 방법은 while문을 사용하여 직접 뒤집으세요.

### 6번 문제 : 투표 취합

- n명의 사람이 apple, banana, cherry, grape, orange 5가지 과일 중 하나를 선택한 리스트가 있습니다. 어떤 과일이 몇 표를 받았는지 취합하는 딕셔너리를 만들세요.

예) ['cherry', 'grape', 'orange', 'banana', 'cherry', 'banana', 'cherry', 'cherry','apple','apple'] -> {'cherry':4, 'grape':1, 'orange':1, 'banana':2,'apple':2}

### 7번 문제

- 아래 코드는 3가지 파일은 생성하고 그 안에 과일의 이름을 적는 코드입니다. 먼저 아래 코드를 실행해서 3가지 파일을 만들고 그 이후 생선된 3개의 파일 내용을 모두 읽은 후 단어의 길이를 기준으로 정렬하여 새로운 4번 파일에 저장하세요.

In [ ]:
# 코드를 한 번 실행해주세요.

file_names = ["새파일1.txt", "새파일2.txt", "새파일3.txt"]
fruits = [
    ["apple", "banana", "cherry"],
    ["grape", "orange", "pear"],
    ["kiwi", "peach", "plum"]
]


for file_name, fruit_list in zip(file_names, fruits):
    with open(file_name, 'w', encoding='utf-8') as f:
        for fruit in fruit_list:
            f.write(fruit + "\n")

f.close()

In [ ]:
# 코드를 작성해주세요.